/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

html, body {
     overflow-x: hidden;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     position: relative
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding-left: 15px;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}

ul.btn {
     float: right;
}

ul.btn li {
     display: inline-block;
     padding: 0 25px;
}

ul.btn li a {
     color: #fff;
     font-size: 16px;
}

ul.btn li:last-child {
     padding-right: 0;
}

.login_btn {
     padding-left: 50px;
}

.login_btn a {
     background-color: #fff;
     display: inline-block;
     padding: 7px 35px;
     border-radius: 10px;
     color: #292e39 !important;
     font-size: 17px;
}

.login_btn a:hover {
     color: #fff !important;
     background: #0808ff;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/


/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding-top: 20px !important;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0px 25px;
     text-transform: uppercase;
     color: #fff;
     font-size: 17px;
     line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #f4cb1e;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #f4cb1e;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.padd_right {
     padding-right: 10px;
}

.sign_btn {
     padding-left: 50px;
}

.get_btn a {
     display: inline-block;
     padding: 8px 15px;
     color: #fff;
     font-size: 16px;
     background-color: #dfb72c;
     text-transform: uppercase;
     margin-top: -10px;
     margin-left: 30px;
}

.get_btn a:hover {
     color: #fff;
     background-color: #d2d1d6;
}

.header {
     width: 100%;
     height: auto;
     padding: 15px 15px;
     border-bottom: #c6cad5 solid 5px;
     background-color: #13110e;
}

.header_top {
     width: 100%;
     height: auto;
     background-color: #ffffff;
}

.header_top li{
     padding-top: 0px;
     text-align: right;
     font-size: 17px;
     font-weight: bold;
}

.header_top a {
     display: inline-block;
     padding-right: 15px;
     color: #000000;
}

.header_top a:hover {
     color: #dfb72c;
}

.header_top .active,.header_top .active a{
     color: #dfb72c;
     display: inline-block;
}

.logo {
     position: static;
     padding-left: 0px;
     padding-top: 0px;
     left: 0px;
     top: 0px;
     height: 66px;
}


/** banner section **/

.banner_main {
     background: url(../images/amberbanner.jpg);
     background-repeat: no-repeat;
     min-height: 840px;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
}

.banner_main_about {
     background: url(../images/amberbanner.jpg);
     background-repeat: no-repeat;
     min-height: 240px;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
}

.text-bg {
     text-align: center;
}

.text-bg h1 {
     color: #dfb72c;
     font-size: 110px;
     line-height: 120px;
     padding-bottom: 15px;
     font-weight: bold;
     font-style: italic;
     font-family: helvetica;
     font-stretch: ultra-condensed;
     text-shadow: 5px 5px #000000, 0px 0px 15px #000000;
}

.text-bg h2 {
     text-transform: uppercase;
     color: #fff;
     font-size: 30px;
     padding-bottom: 15px;
     font-weight: bold;
     text-shadow: 3px 3px #000000, 0px 0px 15px #000000;
}

.text-bg p {
     font-size: 22px;
     color: #fff;
     line-height: 28px;
     font-weight: 500;
     padding-bottom: 50px;
     display: block;
     text-shadow: 1px 1px #000000, 0px 0px 15px #000000;
}

.text-bg a {
     font-size: 17px;
     background-color: transparent;
     color: #fff;
     font-weight: 600;
     padding: 11px 0px;
     width: 100%;
     max-width: 230px;
     text-align: center;
     display: inline-block;
     border-radius: 30px;
     border: #f4cb1e solid 4px;
     transition: ease-in all 0.5s;
}

.text-bg a:hover {
     background-color: #13110e;
     color: #fff;
     transition: ease-in all 0.5s;
}


/** end banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 50px;
     color: #090807;
     line-height: 62px;
     font-weight: bold;
     padding: 0;
}

.titlepage h3 {
     color: #4d4d4d;
     font-size: 110px;
     line-height: 60px;
     padding-bottom: 15px;
     font-weight: bold;
     font-style: italic;
     font-family: helvetica;
     font-stretch: ultra-condensed;
     text-shadow: 5px 5px #000000, 2px 2px 15px #000000;
     animation: fadeIn 5s;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.blu {
     color: #0808ff;
}

.read_more {
     font-size: 17px;
     background-color: #dfb72c;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     position: relative;
     font-weight: 500;
}

.read_more:hover {
     background: #fff;
     color: #000;
     transition: ease-in all 0.5s;
}


/** three_box section **/

.three_box {
     margin-top: -160px;
}

.box_text {
     box-shadow: 0 0 15px #000000;
}

.box_text figure {
     margin: 0;
}

.box_text figure img {
     width: 100%;
}


/** end three_box section **/


/** hottest section **/

.hottest {
     background: #fff;
     padding: 90px 0 20px 0;
}

.hottest .titlepage {
     padding-bottom: 0;
     text-align: left;
}

.hottest .titlepage h2 {
     color: #454545;
     font-family: helvetica;
     font-style: italic;
}

.hottest .hottest_box {
     position: relative;
     background-color: #f4cb1e;
     padding: 60px 40px;
     box-shadow: 0 0 20px #000000;
}

.hottest .hottest_box::after {
     position: absolute;
     content: "";
     top: 0;
     bottom: 0;
     left: -30px;
     width: 31px;
     height: 100%;
     background: url(../images/h_cross.png);
     background-repeat: no-repeat;
     display: block;
     background-position: center center;

}

.hottest .hottest_box p {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     font-weight: 500;
}


/** end hottest section **/


/** choose  section **/

.choose {
     background-color: #242323;
     padding: 90px 0 190px 0;
     position: relative;
}

.choose::after {
     position: absolute;
     content: "";
     bottom: 0;
     left: 0px;
     width: 100%;
     height: 195px;
     background: url(../images/choose_bottom_cross.png);
     background-repeat: no-repeat;
     display: block;
     background-position: center center;
}

.choose .titlepage {
     text-align: left;
     padding-bottom: 0;
}

.choose .titlepage h2 {
     color: #fff;
}

.choose .titlepage p {
     color: #fff;
     display: block;
     font-size: 17px;
     padding-top: 20px;
     line-height: 32px;
}

.choose_img {
     padding-left: 30px;
     padding-top: 30px;
}

.choose_img figure {
     margin: 0;
     margin-left: -5px;
     box-shadow: 0 0 0 3px #dfb72c, 0 0 25px 5px #000000;
}

.choose_img figure img {
     width: 100%;
}

.choose_container {
     position: relative;
     overflow: hidden;
     width: 100%;
     padding-top: 80%;
     margin-left: -15px;
     background: white;
}

.choose_iframe {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 97%;
     height: 97%;
     box-shadow: 0 0 25px #000000;
}

.padding_with {
     max-width: 653px;
     float: right;
     width: 100%;
}

.choose_box {
     display: flex;
     transition: all .3s ease-in-out;
}

.choose_box:hover{
      transform: scale(1.1)
}

.choose_box i {
     float: left;
}

.choose_box i img {
     float: left;
     background-color: #f4cb1e;
     width: 165px;
     padding: 10px;
     border-radius: 10px;
}

.choose_text {
     float: right;
     padding-left: 20px;
}

.choose_text h3 {
     color: #fff;
     font-size: 20px;
     line-height: 28px;
     font-weight: 600;
     padding-bottom: 10px;
}

.choose_text p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
}

.padding_bottom {
     padding-bottom: 30px;
}


/** end choose  section **/


/** product  section **/

.product_box {
     position: relative;
     margin-bottom: 30px;
     box-shadow: 0 0 51px rgba(13, 3, 3, 0.13);
     transition: all .3s ease-in-out;
}

.product_box figure {
     margin: 0;
}
.product_box:hover {
     transform: scale(1.05);
}

.product_box figure img {
     width: 100%;
     height: 343px;
     object-fit: cover;
}

.product_box h3 {
     position: absolute;
     bottom: 15px;
     padding: 0;
     right: 50px;
     text-align: right;
     color: #fff;
     font-size: 30px;
     text-transform: uppercase;
     font-weight: 600;
}

.black {
     color: #242323 !important;
}

.padding_left0 {
     padding-left: 0;
}

.padding_right0 {
     padding-right: 0;
}


/** end product  section **/


/** about section **/

.about {
     padding: 0px 0px 140px 0px;
     background: #fff;
}

.about .titlepage p {
     color: #141629;
     line-height: 28px;
     font-weight: 500;
     font-size: 17px;
     padding-top: 20px;
}

.about_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
     padding-top: 65px;
}

.about_background{
     background: #D3D3D3;
     border-top: 5px inset #000000;
}

.about_background::after {
     content: "";
     padding-top: 20px;
     bottom: 0;
     left: 0px;
     width: 100%;
     height: 195px;
     background: url(../images/about_bottom_cross.png);
     background-repeat: no-repeat;
     display: block;
     background-position: center center;    
}

.about_box {
     text-align: center;
     padding-right: 10px;
}

.about_box h1 {
     font-family: helvetica;
     font-weight: bold;
     font-size: 30px;
}

.about_box h2 {
     font-family: helvetica;
     font-size: 20px;
     padding-left: 200px;
     text-align: left;
}

.about_box img {
     float: left;
     background-color: #f4cb1e;
     width: 165px;
     padding: 0px;
     border-radius: 81px;
     box-shadow: 0px 0px 10px black;
     z-index: 1;
}

.about_box figure {
     padding-left: 25px;
     transition: all .3s ease-in-out;
}

.value_box {
     text-align: center;
     padding-right: 10px;
}

.value_box_small {
     
}

.values_image {
     padding-top: 25px;
     padding-bottom: 25px;
     filter: drop-shadow(0px 0px 5px #ffffff)
}

.value_box img{
     float: left;
     width: 45px;
     box-shadow: 0px 0px 10px black;
     border-radius: 50px;
     z-index: 1;
}

.value_box h1 {
     font-family: helvetica;
     font-weight: bold;
     font-size: 45px;
     padding-top: 35px;
     text-shadow: 0 0 10px #ffffff;
}

.value_box h2 {
     font-family: helvetica;
     font-size: 20px;
     font-style: italic;
     padding-left: 60px;
     text-align: left;
     padding-right: 10px;
}

.value_box h3 {
     font-family: helvetica;
     font-size: 20px;
     font-weight: bold;
     font-style: italic;
     padding-left: 60px;
     text-align: left;
     text-shadow: -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
     padding-right: 10px;
     color: #fff;
}

.value_background {
     background: #dfb72c;
}

.value_background::before {
     content: "";
     padding-top: 20px;
     bottom: 0;
     left: 0px;
     width: 100%;
     height: 195px;
     background: url(../images/about_top_cross.png);
     background-repeat: no-repeat;
     display: block;
     background-position: center center;
}

.test_box {
     padding: 30px 40px 40px 42px;
     background: url(../images/te.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     min-height: 367px;
}

.about_Carousel .test_box h4 {
     font-size: 30px;
     color: #1d1c1c;
     line-height: 30px;
     display: block;
     text-align: center;
     text-transform: uppercase;
     font-weight: 600;
     padding: 45px 0px 0px 0px;
     text-align: left;
}

.about_Carousel .test_box i {
     text-align: left;
     float: left;
     margin-bottom: -12px;
     margin-right: 20px;
     margin-top: -91px;
     box-shadow: #000000 0px 0px 10px 0px;
     border-radius: 122px;
}

.about_Carousel .test_box p {
     font-size: 20px;
     line-height: 28px;
     color: #fff;
     text-align: left;
     padding-left: 100px;
     margin-top: 45px;
     margin-left: 30px;
}

.about_Carousel .carousel-indicators {
     bottom: -50px;
}

.about_Carousel .carousel-indicators li {
     width: 56px;
     height: 15px;
     border-radius: 20px;
     background: #f4cb1e;
}

.about_Carousel .carousel-indicators li.active {
     background: #040403;
}

#myCarousel .carousel-control-next-icon,
#myCarousel .carousel-control-prev-icon {
     display: none;
}

.our_story {
     padding-top: 35px;
}

.our_story h1 {
     font-family: helvetica;
     font-weight: bold;
     font-size: 50px;
     text-align: center;
     padding-bottom: 30px;
}

.our_story iframe {
  width: 100%;
  height: 480px;
}

/** end about section **/


/** footer **/

.footer {
     background: #212121;
     padding-top: 85px;
     text-align: center;
}

.footer .titlepage {
     text-align: left;
     padding-bottom: 0px;
}

.footer .titlepage h2 {
     color: #fff;
}

.footer .titlepage a {
     color: #fff;
}

.footer .titlepage a:hover {
     color: #dfb72c;
}


.main_form {
     padding: 50px 0px 50px 0px;
}

.main_form .contactus {
     border: inherit;
     padding: 0px 15px;
     margin-bottom: 20px;
     width: 100%;
     height: 45px;
     background: #ffffff;
     color: #777977;
     font-size: 18px;
     font-weight: normal;
     border-bottom: #ddd solid 1px;
}

.main_form .contactus1 {
     border: inherit;
     padding: 0px 15px;
     margin-bottom: 20px;
     padding-top: 21px;
     width: 100%;
     height: 80px;
     background: #ffffff;
     color: #777977;
     font-size: 18px;
     font-weight: normal;
     border-bottom: #ddd solid 1px;
}

.main_form .send_btn {
     font-size: 20px;
     transition: ease-in all 0.5s;
     background-color: #f4cb1e;
     color: #000;
     padding: 16px 0px;
     max-width: 333px;
     font-weight: 700;
     width: 100%;
     display: block;
     margin-top: 11px;
}

.main_form .send_btn:hover {
     background-color: #fff;
     transition: ease-in all 0.5s;
     color: #000;
}

#request *::placeholder {
     color: #777977;
     opacity: 1;
}

ul.social_icon {
     padding-top: 15px;
     padding-bottom: 15px;
}

ul.social_icon li {
     display: inline-block;
}

ul.social_icon li a {
     background: #fff;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     border-radius: 30px;
     margin: 0 3px;
}

ul.social_icon li a:hover {
     background-color: #dfb72c;
     color: #fff;
}

.bottom_form h3 {
     font-weight: 600;
     font-size: 22px;
     text-align: left;
     color: #fff;
     padding-bottom: 15px;
}

ul.location_icon {
     padding-top: 12px;
     text-align: left;
}

ul.location_icon li {
     display: inline-block;
     font-size: 18px;
     line-height: 20px;
     color: #fff;
     padding-bottom: 10px;
}

ul.location_icon li a {
     font-size: 18px;
     color: #fff;
     line-height: 30px;
     padding-right: 15px;
}

ul.location_icon li a:hover {
     color: #dfb72c;
}

.footer h3 {
     font-weight: 600;
     font-size: 22px;
     text-align: left;
     color: #fff;
     padding-bottom: 15px;
}

ul.link {
     text-align: left;
}

ul.link li a {
     color: #fff;
     font-size: 17px;
     line-height: 20px;
     padding-bottom: 15px;
     padding-left: 25px;
     display: block;
}

ul.link li a:hover {
     color: #f4cb1e;
}

ul.link li a::after {
     position: absolute;
     content: "";
     width: 12px;
     height: 12px;
     background-color: #fff;
     border-radius: 20px;
     left: 0;
     margin-top: 6px;
     margin-left: 15px;
}

.border_right {
     border-right: #fff solid 1px;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 19px;
     width: 100%;
     height: 53px;
     background: #fff;
     color: #000;
     font-size: 18px;
     font-weight: 600;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #f4cb1e;
     color: #fff;
     padding: 11px 0px;
     max-width: 200px;
     width: 100%;
     display: block;
     font-weight: 500;
     text-transform: uppercase;
     margin-top: 20px;
}

.sub_btn:hover {
     background-color: #fff;
     transition: ease-in all 0.5s;
     color: #000;
}

.copyright {
     margin-top: 70px;
     padding: 20px 0px;
     background-color: #dfb72c;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #212121;
}


/** end footer **/

/** Dealers section **/
.dealers h1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding-bottom:20px;
  padding-top:40px;
}

.dealers h2 {
  color: #fff;
  font-size: 22px;
  padding-top: 10px;
}

.dealers h3 {
  color: #fff;
  font-size: 18px;
}

.dealers_icon {
  padding-top: 30px;
}

.dealers iframe {
  width: 100%;
  height: 540px;
}

.dealers a {
  color: #fff;
}

.dealers a:hover {
  color: #dfb72c
}

/** Dealers section end **/

/** Projects section start **/

.project {
     background-color: #242323;
     padding: 90px 0 190px 0;
     position: relative;
}

.project::after {
     position: absolute;
     content: "";
     bottom: 0;
     left: 0px;
     width: 100%;
     height: 195px;
     background: url(../images/choose_bottom_cross.png);
     background-repeat: no-repeat;
     display: block;
     background-position: center center;
}

.project .titlepage {
     text-align: left;
     padding-bottom: 25px;
}

.project .titlepage h2 {
     color: #fff;
}

.project .titlepage p {
     color: #fff;
     display: block;
     font-size: 17px;
     padding-top: 20px;
     line-height: 32px;
     padding-bottom: 25px;
}

.project_img {
     padding-left: 30px;
     padding-top: 30px;
}

.project_img figure {
     margin: 0;
     margin-left: -5px;
     box-shadow: 0 0 0 3px #dfb72c, 0 0 25px 5px #000000;
}

.project_img figure img {
     width: 100%;
}

.project_container {
     position: relative;
     overflow: hidden;
     width: 100%;
     padding-top: 80%;
     margin-left: -15px;
     background: white;
}

.project_iframe {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 97%;
     height: 97%;
     box-shadow: 0 0 25px #000000;
}

.project_box {
     display: flex;
     transition: all .3s ease-in-out;
}

.project_box:hover{
      transform: scale(1.025)
}

.project_box i {
     float: left;
}

.project_box i img {
     float: left;
     background-color: #f4cb1e;
     width: 360px;
     object-fit: cover;
     padding: 5px;
     border-radius: 10px;
}

.project_text {
     float: right;
     padding-left: 20px;
}

.project_text h3 {
     color: #fff;
     font-size: 40px;
     line-height: 45px;
     font-weight: 600;
     padding-bottom: 10px;
}

.project_text p {
     color: #fff;
     font-size: 20px;
     line-height: 30px;
}

.row_modal > .column_modal {
  padding: 0 8px;
}

.row_modal:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  color: ffffff;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 640px;
  text-align: center;
}

.close {
  color: white;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 25px;
  font-size: 65px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000000;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  background: #000000;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/** Projects secton end **/

/** Products Section**/

.products_page .product .titlepage {
     margin-top: 70px;
}

.products {
     background-color: #e8e8e8;
     padding: 40px 0 20px 0;
     position: relative;
}

.products .titlepage {
     text-align: left;
     padding-bottom: 25px;
}

.products .titlepage h2 {
     color: #000;
}

.products .titlepage p {
     color: #000;
     display: block;
     font-size: 20px;
     padding-top: 20px;
     line-height: 32px;
}

.products .right_column a:hover{
     color: #dfb72c;
     padding-left: 10px;
}

.products .right_column .no_shift a:hover{
     padding-left: 10px;
     color: #000000;
}

.products .right_column .no_shift a {
     padding-left: 10px;
     padding-right: 10px;
}

.products .right_column p{
     color: #000;
     font-size: 17px;
     padding-top: 5px;
     padding-left: 10px;
     border-bottom: 1px solid #949494; 
}

.products .right_column .active{
     color: #dfb72c;
     display: inline-block;
     font-weight: bold;
}

.products .right_column h1{
     color: #000;
     font-size: 24px;
     padding-top: 15px;
     border-bottom: 3px solid #dfb72c; 
     font-weight: bold;
}

.products .right_column h2{
     padding-bottom: 15px; 
}

.products .right_column h4{
     padding-top: 10px;
     font-size: 18px;
}

.products .right_column img{
     max-height: 20px;
     vertical-align: top;
     padding-top: 2px;
     padding-right: 10px;
}

.products .right_column table{
     width: 100%;
}

.products .right_column th{
     padding-right: 10px;
     padding-left: 5px;
     padding-top: 5px;
     font-size: 20px;
     color: #000000;
     vertical-align: top;
     background: #d4d5d6;
}

.products .right_column .name th{
     font-weight: bold;
}

.products .right_column .row2 th{
     background: #ffffff;
}

.products .right_column td{
     font-size: 18px;
     background: #f5f5f5;
     border: 1px solid #d4d5d6;
     padding-left: 6px;
}

.products .right_column td a img{
     height: 32px;
     max-height: 60px;
}

.products .right_column td a img:hover{
     filter: drop-shadow(0px 0px 5px #000000);
}

.products .right_column .no_shift td a{
     padding-left: 0px;
     padding-right: 0px;
}

.products .right_column .no_shift td a:hover{
     padding-left: 0px;
     padding-right: 0px;
     color: #dfb72c;
}

.products .right_column td:nth-child(even){
     background: #ffffff;
} 

.products_image a {
     background: #ffffff;
     display: inline-block;
     padding: 15px 15px 30px;
     text-align: center;
     text-decoration: none;
     box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
     transition: all .20s linear;
     z-index: 0;
     position: relative;
}

.products_image a:after {
     color: #333;
     font-size: 25px;
     content: attr(title);
     position: relative;
     top: 15px;
}

.products_image img {
     display: block;
     width: 360px;
}

.products_image a:hover {
     cursor: pointer;
     background: #949494;
}

.products_btn {
     font-size: 17px;
     background-color: #fff;
     color: #dfb72c;
     border: 3px solid #dfb72c;
     border-radius: 10px;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     position: relative;
     font-weight: 500;
}

.products_btn:hover {
     background: #000;
     color: #fff;
     transition: ease-in all 0.5s;
}

.contact {
     text-align: left;
     padding-left: 50px;
}

.contact img {
     max-height: 26px;
     vertical-align: top;
     padding-top: 2px;
     padding-right: 10px;
}

.text-bg .contact p {
     padding-bottom: 0px;
}

.center {
     margin: auto;
     width: 50%;
}